# COMPOSE_PROJECT_NAME=n8n-worker

## Shared Env Variables
# Postgresql Variables
POSTGRES_HOST=postgresql_host
POSTGRES_PORT=5432
POSTGRES_DB=database_name
POSTGRES_NON_ROOT_USER=postgresql_non_root_username
POSTGRES_NON_ROOT_PASSWORD=postgresql_non_root_user_password
POSTGRES_POOL_SIZE=worker_or_main_pool_size

# Redis Variables
REDIS_HOST=redis_host
REDIS_PASSWORD=redis_password

# Smtp Variables
N8N_EMAIL_MODE=smtp
N8N_SMTP_HOST=smtp_host
N8N_SMTP_PORT=587
N8N_SMTP_USER=smtp_username@smtp_domain.com
N8N_SMTP_PASS=smtp_user_password
N8N_SMTP_SENDER=No-Reply <smtp_username@smtp_domain.com>
N8N_SMTP_SSL=true_or_false
N8N_SMTP_STARTTLS=true_or_false

# Metric Variables
N8N_METRICS=true_or_false
N8N_METRICS_INCLUDE_QUEUE_METRICS=true_or_false

# Secret Variables
N8N_ENCRYPTION_KEY=random_encryption_key
N8N_USER_MANAGEMENT_JWT_SECRET=random_jwt_secret

# Reverse Proxy Variables
N8N_PROXY_HOPS=number_of_hops

# Timezone Variables
GENERIC_TIMEZONE=timezone 

# Builtin library allow list variables
NODE_FUNCTION_ALLOW_BUILTIN=comma_seperated_builtin_libs